ZiylanEtl.PeraportChildService/Service References/ServiceProxy/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_binding">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_binding_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZRT_ENT_PERAPORT">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>D89D6714D9BD1ED39E90F32E032EEAD3</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZrtEntPeraport">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char60">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr11.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="11" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr15.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal5.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="5" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lang">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum6.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="6" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="ZentLfa1">
        <xsd:sequence>
          <xsd:element name="Lifnr" type="n0:char10" />
          <xsd:element name="Bukrs" type="n0:char4" />
          <xsd:element name="Name1" type="n0:char30" />
          <xsd:element name="Ktokk" type="n0:char4" />
          <xsd:element name="Land1" type="n0:char3" />
          <xsd:element name="Txt30" type="n0:char30" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZentT001">
        <xsd:sequence>
          <xsd:element name="Burks" type="n0:char4" />
          <xsd:element name="Butxt" type="n0:char25" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="T023t">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Spras" type="n0:lang" />
          <xsd:element name="Matkl" type="n0:char9" />
          <xsd:element name="Wgbez" type="n0:char20" />
          <xsd:element name="Wgbez60" type="n0:char60" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="T134t">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Spras" type="n0:lang" />
          <xsd:element name="Mtart" type="n0:char4" />
          <xsd:element name="Mtbez" type="n0:char25" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="T6wst">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Saiso" type="n0:char4" />
          <xsd:element name="Spras" type="n0:lang" />
          <xsd:element name="Vtext" type="n0:char20" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WrfBrandsT">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="BrandId" type="n0:char4" />
          <xsd:element name="Language" type="n0:lang" />
          <xsd:element name="BrandDescr" type="n0:char30" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZinventAsorti">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Idnrk" type="n0:char18" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Menge" type="n0:quantum13.3" />
          <xsd:element name="Zzkolitipi" type="n0:char2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZinventFyt">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Vkorg" type="n0:char4" />
          <xsd:element name="Vtweg" type="n0:char2" />
          <xsd:element name="Ekorg" type="n0:char4" />
          <xsd:element name="Datab" type="n0:date10" />
          <xsd:element name="Pb00" type="n0:curr11.2" />
          <xsd:element name="z002" type="n0:curr11.2" />
          <xsd:element name="z003" type="n0:curr11.2" />
          <xsd:element name="z004" type="n0:curr11.2" />
          <xsd:element name="z005" type="n0:curr11.2" />
          <xsd:element name="z006" type="n0:curr11.2" />
          <xsd:element name="z007" type="n0:curr11.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZinventHrk">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Budat" type="n0:date10" />
          <xsd:element name="Zzhareketkodu" type="n0:char2" />
          <xsd:element name="Zzterskayit" type="n0:char1" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Lgort" type="n0:char4" />
          <xsd:element name="Umwrk" type="n0:char4" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Erfmg" type="n0:quantum13.3" />
          <xsd:element name="Dmbtr" type="n0:curr13.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZinventMlz2">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Idnrk" type="n0:char18" />
          <xsd:element name="Satnr" type="n0:char18" />
          <xsd:element name="Maktx" type="n0:char40" />
          <xsd:element name="Size1" type="n0:char18" />
          <xsd:element name="Sblsn" type="n0:char16" />
          <xsd:element name="Mtart" type="n0:char4" />
          <xsd:element name="Attyp" type="n0:char2" />
          <xsd:element name="Ersda" type="n0:char8" />
          <xsd:element name="Laeda" type="n0:char8" />
          <xsd:element name="Matkl" type="n0:char9" />
          <xsd:element name="Ean11" type="n0:char18" />
          <xsd:element name="Lifnr" type="n0:char10" />
          <xsd:element name="Meins" type="n0:char3" />
          <xsd:element name="BrandId" type="n0:char4" />
          <xsd:element name="Bismt" type="n0:char18" />
          <xsd:element name="Zzeslenik" type="n0:char18" />
          <xsd:element name="Zzvip" type="n0:char1" />
          <xsd:element name="Wekgr" type="n0:char3" />
          <xsd:element name="Saiso" type="n0:char4" />
          <xsd:element name="Saisj" type="n0:char4" />
          <xsd:element name="Labor" type="n0:char3" />
          <xsd:element name="Zzmodel" type="n0:char25" />
          <xsd:element name="Zzrenka" type="n0:char3" />
          <xsd:element name="Zzrenk2" type="n0:char3" />
          <xsd:element name="Zzrenk3" type="n0:char3" />
          <xsd:element name="Zzfytgr" type="n0:char3" />
          <xsd:element name="Zzamark" type="n0:char2" />
          <xsd:element name="Zzcnsyt" type="n0:char2" />
          <xsd:element name="Zzbdngr" type="n0:char2" />
          <xsd:element name="Zzmsaya" type="n0:char3" />
          <xsd:element name="Zzicast" type="n0:char2" />
          <xsd:element name="Zztbnml" type="n0:char2" />
          <xsd:element name="Zzmense" type="n0:char3" />
          <xsd:element name="Zzktask" type="n0:char2" />
          <xsd:element name="Zztbnse" type="n0:char2" />
          <xsd:element name="Zzssaya" type="n0:char2" />
          <xsd:element name="Zzkapas" type="n0:char2" />
          <xsd:element name="Zzeksto" type="n0:char2" />
          <xsd:element name="Zzztema" type="n0:char25" />
          <xsd:element name="Zzlfstl" type="n0:char3" />
          <xsd:element name="Zzplnkd" type="n0:char15" />
          <xsd:element name="Zzoutlt" type="n0:char1" />
          <xsd:element name="Zzouttr" type="n0:date10" />
          <xsd:element name="Zzzline" type="n0:char2" />
          <xsd:element name="Zzsezon" type="n0:char4" />
          <xsd:element name="Zzszyil" type="n0:char4" />
          <xsd:element name="Zzszdgs" type="n0:date10" />
          <xsd:element name="Zzurun" type="n0:char2" />
          <xsd:element name="Zztarz" type="n0:char2" />
          <xsd:element name="Zzktanim" type="n0:char20" />
          <xsd:element name="Zzstkgr" type="n0:char3" />
          <xsd:element name="Zzkmpr1" type="n0:char20" />
          <xsd:element name="Zzkmpr2" type="n0:char20" />
          <xsd:element name="Zzkmpr3" type="n0:char20" />
          <xsd:element name="Zzkmpr4" type="n0:char20" />
          <xsd:element name="Zzkmpr5" type="n0:char20" />
          <xsd:element name="Zzomurb" type="n0:char8" />
          <xsd:element name="Zzomurbt" type="n0:char8" />
          <xsd:element name="Bwscl" type="n0:char1" />
          <xsd:element name="Laeng" type="n0:char16" />
          <xsd:element name="Breit" type="n0:char16" />
          <xsd:element name="Hoehe" type="n0:char16" />
          <xsd:element name="Meabm" type="n0:char3" />
          <xsd:element name="Volum" type="n0:char16" />
          <xsd:element name="Voleh" type="n0:char3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZinventSas">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Ebeln" type="n0:char10" />
          <xsd:element name="Ebelp" type="n0:numeric5" />
          <xsd:element name="Loekz" type="n0:char1" />
          <xsd:element name="Zzsipturu" type="n0:numeric2" />
          <xsd:element name="Lifnr" type="n0:char10" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Menge" type="n0:quantum13.3" />
          <xsd:element name="Meins" type="n0:unit3" />
          <xsd:element name="Netpr" type="n0:curr11.2" />
          <xsd:element name="Peinh" type="n0:decimal5.0" />
          <xsd:element name="Netwr" type="n0:curr15.2" />
          <xsd:element name="Waers" type="n0:cuky5" />
          <xsd:element name="Inco1" type="n0:char3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZinventStok">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Lgort" type="n0:char4" />
          <xsd:element name="Labst" type="n0:quantum13.3" />
          <xsd:element name="Atp" type="n0:quantum13.3" />
          <xsd:element name="Aciks" type="n0:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZinventStokA">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Lgort" type="n0:char4" />
          <xsd:element name="Labst" type="n0:quantum13.3" />
          <xsd:element name="Atp" type="n0:quantum13.3" />
          <xsd:element name="Aciks" type="n0:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZinventTes">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Vbeln" type="n0:char10" />
          <xsd:element name="Posnr" type="n0:numeric6" />
          <xsd:element name="Manuel" type="n0:char1" />
          <xsd:element name="Ebeln" type="n0:char10" />
          <xsd:element name="Cpudt" type="n0:date10" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Lfimg" type="n0:quantum13.3" />
          <xsd:element name="Meins" type="n0:unit3" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Lgort" type="n0:char4" />
          <xsd:element name="MatnrAs" type="n0:char18" />
          <xsd:element name="MengeAs" type="n0:quantum13.3" />
          <xsd:element name="MeinsAs" type="n0:unit3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZinventTrn">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Aedat" type="n0:date10" />
          <xsd:element name="Reswk" type="n0:char4" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Zzcdepo" type="n0:char4" />
          <xsd:element name="Bsart" type="n0:char4" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Pomenge" type="n0:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZinventUy">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Land1" type="n0:char3" />
          <xsd:element name="Vkorg" type="n0:char4" />
          <xsd:element name="Vtweg" type="n0:char2" />
          <xsd:element name="Betrp" type="n0:char4" />
          <xsd:element name="Extension2" type="n0:char40" />
          <xsd:element name="Brsch" type="n0:char4" />
          <xsd:element name="Bzirk" type="n0:char6" />
          <xsd:element name="Eroed" type="n0:date10" />
          <xsd:element name="Schld" type="n0:date10" />
          <xsd:element name="Name1" type="n0:char30" />
          <xsd:element name="Sort1" type="n0:char20" />
          <xsd:element name="Sort2" type="n0:char20" />
          <xsd:element name="McCity1" type="n0:char25" />
          <xsd:element name="Verfl" type="n0:quantum6.0" />
          <xsd:element name="Bukrs" type="n0:char4" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZentLfa1">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZentLfa1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZentT001">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZentT001" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfT023t">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:T023t" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfT134t">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:T134t" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfT6wst">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:T6wst" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfWrfBrandsT">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:WrfBrandsT" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZinventAsorti">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZinventAsorti" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZinventFyt">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZinventFyt" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZinventHrk">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZinventHrk" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZinventMlz2">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZinventMlz2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZinventSas">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZinventSas" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZinventStok">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZinventStok" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZinventStokA">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZinventStokA" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZinventTes">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZinventTes" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZinventTrn">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZinventTrn" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZinventUy">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZinventUy" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZrtEntPeraport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="C1" type="n0:char1" />
            <xsd:element minOccurs="0" name="C10" type="n0:char1" />
            <xsd:element minOccurs="0" name="C11" type="n0:char1" />
            <xsd:element minOccurs="0" name="C12" type="n0:char1" />
            <xsd:element minOccurs="0" name="C13" type="n0:char1" />
            <xsd:element minOccurs="0" name="C14" type="n0:char1" />
            <xsd:element minOccurs="0" name="C15" type="n0:char1" />
            <xsd:element minOccurs="0" name="C16" type="n0:char1" />
            <xsd:element minOccurs="0" name="C2" type="n0:char1" />
            <xsd:element minOccurs="0" name="C3" type="n0:char1" />
            <xsd:element minOccurs="0" name="C4" type="n0:char1" />
            <xsd:element minOccurs="0" name="C5" type="n0:char1" />
            <xsd:element minOccurs="0" name="C6" type="n0:char1" />
            <xsd:element minOccurs="0" name="C7" type="n0:char1" />
            <xsd:element minOccurs="0" name="C8" type="n0:char1" />
            <xsd:element minOccurs="0" name="C9" type="n0:char1" />
            <xsd:element name="Erdat" type="n0:char10" />
            <xsd:element minOccurs="0" name="GtLfa1" type="tns:TableOfZentLfa1" />
            <xsd:element minOccurs="0" name="GtT001" type="tns:TableOfZentT001" />
            <xsd:element minOccurs="0" name="GtT023t" type="tns:TableOfT023t" />
            <xsd:element minOccurs="0" name="GtT134t" type="tns:TableOfT134t" />
            <xsd:element minOccurs="0" name="GtT6wst" type="tns:TableOfT6wst" />
            <xsd:element minOccurs="0" name="GtWrfBrandsT" type="tns:TableOfWrfBrandsT" />
            <xsd:element minOccurs="0" name="GtZinventAsorti" type="tns:TableOfZinventAsorti" />
            <xsd:element minOccurs="0" name="GtZinventFyt" type="tns:TableOfZinventFyt" />
            <xsd:element minOccurs="0" name="GtZinventHrk" type="tns:TableOfZinventHrk" />
            <xsd:element minOccurs="0" name="GtZinventMlz" type="tns:TableOfZinventMlz2" />
            <xsd:element minOccurs="0" name="GtZinventSas" type="tns:TableOfZinventSas" />
            <xsd:element minOccurs="0" name="GtZinventStok" type="tns:TableOfZinventStok" />
            <xsd:element minOccurs="0" name="GtZinventStokA" type="tns:TableOfZinventStokA" />
            <xsd:element minOccurs="0" name="GtZinventTes" type="tns:TableOfZinventTes" />
            <xsd:element minOccurs="0" name="GtZinventTrn" type="tns:TableOfZinventTrn" />
            <xsd:element minOccurs="0" name="GtZinventUy" type="tns:TableOfZinventUy" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZrtEntPeraportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="GtLfa1" type="tns:TableOfZentLfa1" />
            <xsd:element minOccurs="0" name="GtT001" type="tns:TableOfZentT001" />
            <xsd:element minOccurs="0" name="GtT023t" type="tns:TableOfT023t" />
            <xsd:element minOccurs="0" name="GtT134t" type="tns:TableOfT134t" />
            <xsd:element minOccurs="0" name="GtT6wst" type="tns:TableOfT6wst" />
            <xsd:element minOccurs="0" name="GtWrfBrandsT" type="tns:TableOfWrfBrandsT" />
            <xsd:element minOccurs="0" name="GtZinventAsorti" type="tns:TableOfZinventAsorti" />
            <xsd:element minOccurs="0" name="GtZinventFyt" type="tns:TableOfZinventFyt" />
            <xsd:element minOccurs="0" name="GtZinventHrk" type="tns:TableOfZinventHrk" />
            <xsd:element minOccurs="0" name="GtZinventMlz" type="tns:TableOfZinventMlz2" />
            <xsd:element minOccurs="0" name="GtZinventSas" type="tns:TableOfZinventSas" />
            <xsd:element minOccurs="0" name="GtZinventStok" type="tns:TableOfZinventStok" />
            <xsd:element minOccurs="0" name="GtZinventStokA" type="tns:TableOfZinventStokA" />
            <xsd:element minOccurs="0" name="GtZinventTes" type="tns:TableOfZinventTes" />
            <xsd:element minOccurs="0" name="GtZinventTrn" type="tns:TableOfZinventTrn" />
            <xsd:element minOccurs="0" name="GtZinventUy" type="tns:TableOfZinventUy" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZrtEntPeraport">
    <wsdl:part name="parameters" element="tns:ZrtEntPeraport" />
  </wsdl:message>
  <wsdl:message name="ZrtEntPeraportResponse">
    <wsdl:part name="parameter" element="tns:ZrtEntPeraportResponse" />
  </wsdl:message>
  <wsdl:portType name="ZRT_ENT_PERAPORT">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://sapretail.ziylan.tur:8001/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ZRT_ENT_PERAPORT" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZRT_ENT_PERAPORT" />
    </wsp:Policy>
    <wsdl:operation name="ZrtEntPeraport">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZrtEntPeraport" />
      </wsp:Policy>
      <wsdl:input message="tns:ZrtEntPeraport" />
      <wsdl:output message="tns:ZrtEntPeraportResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="tns:ZRT_ENT_PERAPORT">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZrtEntPeraport">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZRT_ENT_PERAPORT:ZrtEntPeraportRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="binding_SOAP12" type="tns:ZRT_ENT_PERAPORT">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZrtEntPeraport">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZRT_ENT_PERAPORT:ZrtEntPeraportRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZRT_ENT_PERAPORT">
    <wsdl:port name="binding" binding="tns:binding">
      <soap:address location="http://sapretail.ziylan.tur:8001/sap/bc/srt/rfc/sap/zrt_ent_peraport/300/zrt_ent_peraport/binding" />
    </wsdl:port>
    <wsdl:port name="binding_SOAP12" binding="tns:binding_SOAP12">
      <wsoap12:address location="http://sapretail.ziylan.tur:8001/sap/bc/srt/rfc/sap/zrt_ent_peraport/300/zrt_ent_peraport/binding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>